{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ page.title|striptags }}{% endblock %}

{% block extra_head %}
  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block content %}
  <section id="content" class="body">
    <h1 class="entry-title">{{ page.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    {{ page.content }}
  </section>

  {% if GOODREADS_ACTIVITY_FEED %}
    {% if goodreads_activity.currently_reading %}
      <section id="content" class="body">
        <h1>{{ goodreads_activity.currently_reading.shelf_title }}</h1>
        {% for book in goodreads_activity.currently_reading.books %}
            <img src="{{book.s_cover}}"/>
            <header>{{book.title}}<small> by {{book.author}}</small></header>
            <article>{{book.description|truncate(end='')}}
            <a href={{book.link}} target="_blank">...more</a></article>
        {% endfor %}
      </section>
    {% endif %}
  {% endif %}

  {% if GOODREADS_ACTIVITY_FEED %}
    {% if goodreads_activity.mathematics %}
      <section id="content" class="body">
        <h1>{{ goodreads_activity.mathematics.shelf_title }}</h1>
        {% for book in goodreads_activity.mathematics.books %}
            <img src="{{book.s_cover}}"/>
            <header>{{book.title}}<small> by {{book.author}}</small></header>
            <article>{{book.description|truncate(end='')}}
            <a href={{book.link}} target="_blank">...more</a></article>
        {% endfor %}
      </section>
    {% endif %}
  {% endif %}
{% endblock %}
