{% if goodreads_quotes %}
<section id="content" class="body">
    <h2>{{ goodreads_quotes.shelf_title }}</h2>
    {% for quote in goodreads_quotes.quotes %}
        <div class="quote-wrapper">
            <div class="quote-content">{{ quote.quote }}</div>
            <div class="quote-author">{{ quote.author }}</div>
        </div>
    {% endfor %}
</section>
{% elif GOODREADS_QUOTES and GOODREADS_QUOTES.quotes is defined %}
<section id="content" class="body">
    <h2>{{ GOODREADS_QUOTES.shelf_title }}</h2>
    {% for quote in GOODREADS_QUOTES.quotes %}
        <div class="quote-wrapper">
            <div class="quote-content">{{ quote.quote }}</div>
            <div class="quote-author">{{ quote.author }}</div>
        </div>
    {% endfor %}
</section>
{% endif %}
